body {
  background: #4386a3;
  font-family: sans-serif;
  height:100%;
}

h1 {
  font-family: 'Combo', cursive;
  border-style:solid;
  text-align: center;
  background-image: url('wuKh5xc-3265395465.jpg');
  color: rgba(255,255,0,.5);
}

h2 {
  font-family: 'Pacifico', cursive;
}

.wikipedia-img {
  width:25%;
}

.wikipedia_subheading {
  color:purple;
}

.bikes_subheading {
  color:skyblue;
}

.cats_subheading {
  color:aqua;
}

.enhance {
  color: blue;
  font-weight: bold;
}

.gallery {
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex-basis:300px;
  flex-grow:1;
  margin:20px 0;
}

.card img {
  width:80%;
}

@media only screen and (max-width:300px) {
  body {
    background-color:yellow;
  }
}



